@page "/proveedores/details/{id:int}"
@using GestionFacturasApp.Data
@using GestionFacturasApp.Models
@inject ApplicationDbContext dbContext

<h3>Detalles del Proveedor</h3>

@if (proveedor != null)
{
    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@proveedor.NombreProveedor</dd>

        <dt class="col-sm-2">Comuna:</dt>
        <dd class="col-sm-10">@proveedor.ComunaProveedor</dd>

        <dt class="col-sm-2">Ciudad:</dt>
        <dd class="col-sm-10">@proveedor.CiudadProveedor</dd>

        <dt class="col-sm-2">Teléfono:</dt>
        <dd class="col-sm-10">@proveedor.FonoProveedor</dd>

        <dt class="col-sm-2">RUT:</dt>
        <dd class="col-sm-10">@proveedor.RutProveedor</dd>

        <dt class="col-sm-2">Giro:</dt>
        <dd class="col-sm-10">@proveedor.GiroProveedor</dd>
    </dl>
}

@code {
    [Parameter] public int id { get; set; }
    private Proveedor proveedor;

    protected override async Task OnInitializedAsync()
    {
        proveedor = await dbContext.Proveedores.FindAsync(id);
    }
}



